.wrapper{
    width:500px;
    background-color: #efefef;
    padding:20px;
    margin:auto;
    margin-top:50px;
    border-radius: 6px;
}
.wrapper .form-group,.row .col-md-6{
    margin:10px 0;
}
.lo{
    position: absolute;
    left: 1152px
}
.li{
    position: absolute;
    left: 970px;
}
.profile-card{
    width:max-content;
}
.profile-card input,span{
    border:none;
    outline:none;
    font-size: 25px;
}